<!--This is the markup to display all users in a list, only seen by an admin -->

<h2>List all users here:</h2>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>