<!--This is the show page for a user's profile, only consisting of name & picture right now-->

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= link_to @user.name, current_user %>
      </h1>
    </td>
  </tr>
</table>