<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "about us", about_path %></li>
			<li><%= link_to "what's new", '#' %></li>
			<li><%= link_to "faq's", '#' %></li>
			<li><%= link_to "contact", contact_path %></li>	
		</ul>
	</nav>
</footer>